html {
  font-size: 62.5%;
}
body {
  background-image: url(assets/img/backgroundImage.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: auto 0;
  align-content: center;
}
#app {
  margin: 0 auto;
  width: 315px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  #app {
    width: 700px;
  }
}
@media screen and (min-width: 1440px) {
  #app {
    width: 1000px;
  }
}
